{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('dependencies/jquery-ui/jquery-ui.min.css') }}" type="text/css">
{% endblock %}

{% block dependencies %}
    <script src="dependencies/jquery-ui/jquery-ui.min.js"></script>
{% endblock %}

{% block javascript %} {# TODO : passer les scripts en asset #}
    <script src="scripts/leaflet.js" defer></script>

{% endblock %}

{% block homeJS %}
    <script defer>
        address = {{ address|json_encode()|raw() }};
        let latDom;
        let lonDom;
        if(address !== null){
            $.ajax({
                type: "GET",
                url: 'https://nominatim.openstreetmap.org/search?layer=address&limit=1&format=json&countrycodes=fr&q=' + address,
                success: function (data) {
                    if(data.length > 0){
                        latDom = data[0].lat;
                        lonDom = data[0].lon;
                        L.marker([latDom, lonDom],{icon: houseIcon}).bindPopup("Domicile").addTo(map);
                        console.log("domicile ajouté");
                    }
                    else{
                        console.error("domicile non trouvé");
                    }
                },
                error: function() {
                    console.error("Impossible de récupérer les données Nominatim");
                }
            });
        }

        //calcul de la route entre la gare sélectionnée et le domicile
        function calculateRoute(latSta, lonSta){
            if(address !== null){
                route.getPlan().setWaypoints([]);
                route.setWaypoints([
                    L.latLng(latDom, lonDom),
                    L.latLng(latSta, lonSta)
                ]);
                route.route();
                route.show();
                $('.leaflet-control-container, .leaflet-control-container-hide').display = "block";
            }
            else {
                if (window.confirm('Merci de vous connecter. Cliquez sur OK pour aller a la page de connexion')) {
                    window.location.href='user_account.php';
                }
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div id="mapContainer" class="droppable">
        <div id="map"></div>
    </div>
    <div class="conteneur">
        <div class="ville un draggable">Paris
            <img src="{{ asset('images/iconesVille/paris.png') }}" alt="Tour Eiffel">
        </div>
        <div class="ville draggable">Marseille
            <img src="{{ asset('images/iconesVille/marseille.png') }}" alt="Ville">
        </div>
        <div class="ville draggable">Lyon
            <img src="{{ asset('images/iconesVille/lyon.png') }}" alt="Lion">
        </div>
        <div class="ville draggable">Toulouse
            <img src="{{ asset('images/iconesVille/toulouse.png') }}" alt="Ballon de rugby">
        </div>
        <div class="ville draggable">Nice
            <img src="{{ asset('images/iconesVille/nice.png') }}" alt="Parasol">
        </div>
        <div class="ville draggable">Nantes
            <img src="{{ asset('images/iconesVille/nantes.png') }}" alt="Hermine">
        </div>
        <div class="ville draggable">Montpellier
            <img src="{{ asset('images/iconesVille/montpellier.png') }}" alt="Statue">
        </div>
        <div class="ville draggable">Strasbourg
            <img src="{{ asset('images/iconesVille/strasbourg.png') }}" alt="Bretzel">
        </div>
        <div class="ville draggable">Bordeaux
            <img src="{{ asset('images/iconesVille/bordeaux.png') }}" alt="Vin">
        </div>
        <div class="ville draggable">Lille
            <img src="{{ asset('images/iconesVille/lille.png') }}" alt="Wagon">
        </div>
        <div class="ville coordonnees">Domicile
            <img src="{{ asset('images/iconesVille/domicile.png') }}" alt="Maison">
        </div>
    </div>
{% endblock %}
