session_start()


{# METTRE CA SEULEMENT POUR LE DEBUG #}
ini_set('display_errors', '1')
ini_set('display_startup_errors', '1')
error_reporting(E_ALL)

{% set envFilePath, envContent, envVariables = relative_path('~/.env'), file_get_contents(envFilePath), parse_ini_string(envContent) %}

{% set servernameDB, usernameDB, passwordDB, nameDB =
    envVariables.DB_SERV, envVariables.DB_USER, envVariables.DB_PASS, envVariables.DB_NAME %}


{# Create connection #}

{% set conn = mysqli(servernameDB, usernameDB, passwordDB, nameDB) %}
mysqli_sql_exception( e)
{{"<p class='alert alert-danger'>impossible de se connecter à la base de données</p>" }}


{# Check connection #}
{% if conn.connect_error %}
    "Connection failed: " ~ conn.connect_error
{% endif %}

{% if _GET.logout%}
    {% set _SESSION = arr %}
{% endif %}

{% if _GET.delete-account%}
    {% set usernameDel, delFavStation, delAccount = _SESSION.Username, "DELETE FROM FavouriteStations
    WHERE FavouriteStations.IdUser = (SELECT User.Id FROM User WHERE User.Surname = '$usernameDel';",
        "DELETE FROM User WHERE User.Id = (SELECT User.Id FROM User WHERE User.Surname = 'usernameDel');"
      %}

    conn.query(delFavStation)
    conn.query(delAccount)
    {{"<p class='alert alert-success'>Compte supprimé avec succès</p>" }}
{% endif %}  mysqli_sql_exception e
{{"<p class='alert alert-danger'>Impossible de supprimer ce compte</p>" }}

_SESSION  {}


{% if _GET.addFavId is defined %}{% set _SESSION.newFavId = _GET.addFavId %}{% endif %}
{% if _GET.removeFavId is defined %}{% set _SESSION.removeFavId = _GET.removeFavId %}{% endif %}
{% if _POST.Username is defined %}{% set _SESSION.Username = _POST.Username %}{% endif %}
{% if _POST.Password is defined %}{% set _SESSION.Password = _POST.Password %}{% endif %}


{% set name, username, password = _POST.Name | default(null), _SESSION.Username | default(null),
    _SESSION.Password | default(null) %}

{% if name is defined %}
    {% set addAccount = "INSERT INTO User(Name, Surname, Password) VALUES ('name', 'username', 'password');" %}

    {% set result = conn.query(addAccount) %}
    {{"<p class='alert alert-success'>Utilisateur crée ! Vous pouvez vous connecter</p>" }}
{% endif %}  mysqli_sql_exception e
{{"<p class='alert alert-danger'>Cet utilisateur existe déjà. Merci de choisir un nom/pseudo différent.</p>" }}

"include/connection.php"

{% else %}
    {% set query = "SELECT U.Id, U.Name, U.Surname, U.Password FROM User U WHERE U.Surname = 'username' AND U.Password = 'password';" %}
    {% set result = conn.query(query) %}

    {% if  result.num_rows > 0 %}
        {% set IdUser = mysqli_fetch_array(result).Id %}
        "include/userConnected.php"
    {% endif %}
    {% else %}
            {% if username is defined %}
                {{"<p class='alert alert-danger'>Mauvais identifiant/mot de passe</p>" }}
            {% endif %}
            "include/connection.php"
{% endif %}